@font-face {font-family: "iconfont";
  src: url('/static/fonts/iconfont.eot?t=1466149363'); /* IE9*/
  src: url('/static/fonts/iconfont.eot?t=1466149363#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/iconfont.woff?t=1466149363') format('woff'), /* chrome, firefox */
  url('/static/fonts/iconfont.ttf?t=1466149363') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/static/fonts/iconfont.svg?t=1466149363#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e600"; }
.icon-plus:before { content: "\e601"; }
.icon-link:before { content: "\e602"; }
.icon-arrowleft:before { content: "\e603"; }
.icon-home:before { content: "\e604"; }
.icon-boy70:before { content: "\e605"; }
.icon-minus:before { content: "\e606"; }
.icon-user:before { content: "\e607"; }
.icon-arrow:before { content: "\e608"; }
.icon-voice:before { content: "\e609"; }
.icon-aliicon:before { content: "\e60c"; }
.icon-speak:before { content: "\e60a"; }
.icon-externallink:before { content: "\e60b"; }