// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.issue-container{
  min-height: 500px;
  .page{
    .header{
      padding-bottom: 20px;
      margin: 40px 0 0;
      border-bottom: 1px solid #ccc;
      text-align: center;
      .sub-title{
        color: #777;
        padding-bottom: 7px;
      }
    }
    .content{
      padding: 20px 8px 8px;
    }
  }

  .kickoff-page{
    text-align:center;
    .summary{
      margin-bottom: 30px;
      p{
        span{
          font-size: 3em;
          padding-right: 5px;
          color: #337ab7;
        }
      }
    }
    .kickoff-btn-container{
      width: 100%;
      position: fixed;
      bottom: 20%;
      .kickoff-btn{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: red;
        display: inline-block;
        span{
          color: white;
          line-height: 120px;
          font-size: 2em;
        }
      }
    }
  }
  .question-page{
    .choices{
      margin-top: 50px;
      .choice{
        text-align: center;
        margin-bottom: 20px;
        .btn{
          display: inline-block;
          width: 60%;
        }
      }
    }
    .operation{
      width: 100%;
      position: fixed;
      bottom: 10%;
      .btn{
        margin-right: 20px;
      }
    }
  }
  .result-page{
    .operations{
      margin-bottom: 20px;
      .operation{
        font-size: 1.5em;
        padding: 0 0 8px 8px;
      }
    }
    .wechat-code{
      text-align: center;
    }
  }
}
