.questions-page{
  .questions{
    .question{
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      .name{
        display: block;
        font-size: 1.2em;
        padding-bottom: 5px;
      }
      .description{
        color: gray;
        padding-left: 1em;
      }
    }  
  }  
}