.question-add-page{
  .form-group{
    .add-btn{
      display: block;
      border-radius: 4px;
      line-height: 44px;
      text-align: center;
      border: 1px solid #ddd;
      background-color: #EEE;
      text-decoration: none;
      .iconfont{
        color: #337ab7;
        font-size: 1.2em;
        margin-right: 3px;
      }
    }
  } 
  .shrink-container.shrinking {
    .shrink-right {
      line-height: 90px;
    }
    .shrink-right.lines-3{
      line-height: 136px;
    }
  }
}